# Dependencies
node_modules/

# Build output
dist/
dist-ssr/ # if using SSR

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Optional Editor directories/files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-project
*.sublime-workspace
.idea

# Vite specific
.DS_Store